@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  padding: 0 2rem;
}

.container .board {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #77dd77;
}

.container .board #cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  cursor: none;
}

.container .board #cursor .name {
  position: absolute;
  transform: translateY(-20px);
  font-size: .85em;
  font-weight: 200;
}
